{% extends 'admin/base.html' %}

{% block title %}Dashboard Admin{% endblock title %}

{% block nav_news_active %}active{% endblock nav_news_active %}

{% block content %}
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-5">
        <div class="col-xl-12 col-md-12 mb-12">
            <a class="btn btn-dark btn-icon-split mr-4" href="{{ url_for('admin.create_news') }}">
                <span class="icon text-white-50"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class="text">Create News</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% for news in news %}
                <div class="card shadow mb-4">
                    <div class="card-header d-flex flex-row align-items-center justify-content-between py-3">
                        <h6 class="m-0 font-weight-bold text-dark">{{ news.news_title }}</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Option:</div>
                                <a class="dropdown-item" href="{{ url_for('admin.update_news', id=news['id']) }}">Update</a>
                                <a class="dropdown-item" href="{{ url_for('admin.delete_news', id=news['id']) }}">Delete</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        {{ news.news_message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}