{% extends 'admin/base.html' %}

{% block title %}Dashboard Admin{% endblock title %}

{% block nav_subject_active %}active{% endblock nav_subject_active %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <div class="p-5">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 font-weight-bold text-gray-800">Update Subject</h1>
                </div>
                <form class="user" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">Subject ID</label>
                        <input class="form-control" name="s_id" id="" value="{{ subject.subject_id }}" type="text" >
                    </div>

                    <div class="form-group">
                        <label for="">Subject Name</label>
                        <input class="form-control" name="s_name" id="" value="{{ subject.subject_name }}" type="text" >
                    </div>
                    
                    <div class="form-group">
                        <label for="">Subject Teacher</label>
                        <select name="s_teacher" id="" class="form-control">
                        {% for user in users %}
                            {% if user.user_id == subject.subject_teacher %}
                                <option value="{{ user.user_id }}" selected>{{ user.user_id }} - {{ user.user_name }}</option>
                            {% else %}
                                <option value="{{ user.user_id }}">{{ user.user_id }} - {{ user.user_name }}</option>
                            {% endif %}   
                        {% endfor %}
                        </select>
                    </div>

                    <button type="submit" value="create subject" class="btn btn-dark btn-user btn-block mt-5">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}