{% extends 'admin/base.html' %}

{% block title %}Dashboard Admin{% endblock title %}

{% block nav_subject_active %}active{% endblock nav_subject_active %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 align-self-center p-5">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 font-weight-bold text-gray-800">Update Subject</h1>
            </div>
            <form class="user" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Subject ID</label>
                    <input class="form-control" type="text" name="s_id" value="{{ subject.subject_id }}">
                </div>

                <div class="form-group">
                    <label>Subject Name</label>
                    <input class="form-control" type="text" name="s_name" value="{{ subject.subject_name }}">
                </div>
                
                <div class="form-group">
                    <label>Subject Teacher</label>
                    <select class="form-control" name="s_teacher">
                    {% for user in users %}
                        {% if user.user_id == subject.subject_teacher %}
                            <option value="{{ user.user_id }}" selected>{{ user.user_id }} - {{ user.user_name }}</option>
                        {% else %}
                            <option value="{{ user.user_id }}">{{ user.user_id }} - {{ user.user_name }}</option>
                        {% endif %}   
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>SKS</label>
                    <select class="form-control" name="sks">
                        <option value="2" {% if subject.sks == 2 %}selected{% endif %}>2</option> 
                        <option value="4" {% if subject.sks == 4 %}selected{% endif %}>4</option> 
                    </select>
                </div>

                <button type="submit" value="create subject" class="btn btn-dark btn-user btn-block mt-5">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}